section {
  background: #fff url(../img/main_top.png) top center no-repeat;
  background-size: cover;
  max-height: 1370px;
  max-width: 1370px;
  margin: 0 auto;
  padding-bottom: 354px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.nav__link--twitter {
  margin-right: 35px;
  color: #fa5c65;
  font-size: 14px;
}

.nav__link--facebook {
  color: #fa5c65;
  font-size: 14px;
}

.header__logo-text {
  color: #000;
}

.header__inner {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-color: #fa5c65;
  align-self: flex-start;
  height: 75px;
  width: 140px;
  border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
}

.header__logo:hover {
  background-color: #0018c9;
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}

.header__logo--link {
  text-decoration: none;
}

.header__logo--text {
  margin: 0;
  padding: 40px 12px 15px 12px;
  font-size: 20px;
  font-family: "Domine";
  font-weight: bold;
  color: #fff;
}

.nav__link {
  margin-right: 35px;
  font-family: "Montserrat";
  font-weight: normal;
  text-decoration: none;
  color: #263742;
  font-size: 14px;
}

.nav__link:hover {
  color: #0018c9;
}

.nav__link--twitter:hover,
.nav__link--facebook:hover {
  color: #0018c9;
}

.slogan {
  padding-top: 300px;
}

.slogan__phrase--first {
  margin: 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 48px;
  color: #314a5b;
}

.slogan__phrase--second {
  margin: 0;
  padding: 30px 0 40px 0;
  font-family: "Open Sans";
  font-size: 20px;
  color: #314a5b;
}

.slogan__link__element--text {
  margin: 0;
  display: inline-block;
  padding: 25px 40px;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  background-color: #fa5c65;
}

.slogan__link__element--text:hover {
  background-color: #0018c9;
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}

main {
  padding-top: 80px;
}

.advertising {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertising__first--slogan,
.advertising__second--slogan,
.advertising__third--slogan {
  margin: 0;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: bold;
  color: #465065;
}

.advertising__first--text,
.advertising__second--text,
.advertising__third--text {
  margin: 0;
  padding: 25px 0 25px 0;
  font-family: "Open Sans";
  font-size: 15px;
  color: #9aa0ab;
}

.advertising__first--link,
.advertising__second--link,
.advertising__third--link {
  text-decoration: none;
  color: #f0454c;
  font-family: "Montserrat";
  font-size: 14px;
}

.fa-arrow-right {
  color: #f0454c;
  font-size: 15px;
  padding-left: 7px;
}

.advertising__first--link:hover,
.advertising__second--link:hover,
.advertising__third--link:hover,
.portfolio__text--link:hover,
.team__text__link--elements:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 2px;
}

.portfolio {
  padding-top: 105px;
  display: flex;
}

.portfolio__pic {
  padding-right: 80px;
}

.portfolio__text--title,
.portfolio__text--subtitle,
.portfolio__text--first,
.portfolio__text--second {
  margin: 0;
}

.portfolio__text--title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  color: #314a5b;
  padding-bottom: 15px;
}

.portfolio__text--subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  color: #314a5b;
}

.portfolio__text--first {
  padding: 30px 0 30px 0;
}

.portfolio__text--second {
  padding-bottom: 45px;
}

.portfolio__text--first,
.portfolio__text--second {
  font-family: "Open Sans";
  font-size: 15px;
  color: #9aa0ab;
}

.portfolio__text--link {
  text-decoration: none;
  color: #f0454c;
  font-family: "Montserrat";
  font-size: 14px;
}

.team {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
}

.team__text--title {
  padding-bottom: 15px;
}

.team__person {
  padding: 40px 0 55px 0;
  display: flex;
}

.team__text--title {
  margin: 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 32px;
  color: #314a5b;
}

.team__text--paragraph {
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  color: #9aa0ab;
}

.team__person__Joey__text--name,
.team__person__Matt__text--name,
.team__person__Mike__text--name {
  margin: 0;
  padding: 15px 0 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 22px;
  color: #314a5b;
}

.team__person__Joey__text--subtitle,
.team__person__Matt__text--subtitle,
.team__person__Mike__text--subtitle {
  margin: 0;
  padding-bottom: 15px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #f0454c;
}

.team__person__Joey__text--paragraph,
.team__person__Matt__text--paragraph,
.team__person__Mike__text--paragraph {
  margin: 0;
  font-family: "Open Sans";
  font-size: 14px;
  color: #a1a6b1;
}

.team__text--link {
  align-self: flex-end;
}

.team__text__link--elements {
  text-align: right;
  margin: 0;
  text-decoration: none;
  color: #f0454c;
  font-family: "Montserrat";
  font-size: 14px;
}

.team__person__Joey--picture,
.team__person__Matt--picture,
.team__person__Mike--picture {
  padding-right: 22px;
}

.team__person__Joey--text,
.team__person__Matt--text {
  padding-right: 45px;
}

.footer__line {
  padding: 60px 0 33px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__elements__text--freelancer {
  margin: 0;
  font-family: "Open Sans";
  font-size: 13px;
  color: #b9c0c6;
}

.footer__elements--twitter,
.footer__elements--instagram,
.footer__elements--facebook,
.footer__elements--google {
  display: inline-block;
  padding-right: 20px;
}

.footer__elements__twitter--link,
.footer__elements__instagram--link,
.footer__elements__facebook--link,
.footer__elements__google--link {
  text-decoration: none;
  color: #b9c0c6;
  font-size: 13px;
}

.footer__elements--text {
  color: #b9c0c6;
  font-size: 13px;
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .slogan {
    padding-top: 300px;
  }

  .header__inner {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .header__logo {
    background-color: #fa5c65;
    align-self: flex-start;
    height: 75px;
    width: 140px;
    border-radius: 0 0 6px 6px;
    margin-right: 35px;
  }

  .container {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__pic {
    padding-right: 5px;
  }

  .container {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
  }

  .team__person {
    padding: 40px 0 55px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .header__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .portfolio {
    padding-top: 105px;
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
  }
}